$color-primary: #02172F;
$color-secondary: #CF3731;
$text-small: 1rem;
$title-small: 1.5rem;
$text-big: 1.5rem;
$title-big: 2rem;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}